@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f9f9fb;
  --foreground: #17171c;
  --card: #ffffff;
  --card-foreground: #17171c;
  --popover: #ffffff;
  --popover-foreground: #17171c;
  --primary: #7c3bed;
  --primary-foreground: #f9fafb;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #f4f4f5;
  --accent-foreground: #18181b;
  --destructive: #ef4444;
  --destructive-foreground: #f9fafb;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #7c3bed;
  --chart-1: #e76e50;
  --chart-2: #2a9d90;
  --chart-3: #274754;
  --chart-4: #e8c468;
  --chart-5: #f4a462;
  --sidebar: #fafafa;
  --sidebar-foreground: #3f3f46;
  --sidebar-primary: #18181b;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f4f4f5;
  --sidebar-accent-foreground: #18181b;
  --sidebar-border: #e5e7eb;
  --sidebar-ring: #7c3bed;
  --font-sans: "Geist Sans", "Inter", sans-serif;
  --font-serif: "Geist Mono", monospace;
  --font-mono: "Geist Mono", monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: -0.015em;
  --spacing: 0.25rem;
}

.dark {
  --background: #000000;
  --foreground: #e6ebf6;
  --card: #0a101d;
  --card-foreground: #fafafa;
  --popover: #0d121b;
  --popover-foreground: #ffffff;
  --primary: #f5f5f5;
  --primary-foreground: #040609;
  --secondary: #11161f;
  --secondary-foreground: #fafafa;
  --muted: #0e1218;
  --muted-foreground: #99a1af;
  --accent: #7a9bff;
  --accent-foreground: #04050d;
  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;
  --border: #364153;
  --input: #27272a;
  --ring: #6b26d9;
  --chart-1: #2662d9;
  --chart-2: #2eb88a;
  --chart-3: #e88c30;
  --chart-4: #af57db;
  --chart-5: #e23670;
  --sidebar: #070b14;
  --sidebar-foreground: #f4f4f5;
  --sidebar-primary: #6b26d9;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #27272a;
  --sidebar-accent-foreground: #f4f4f5;
  --sidebar-border: #364050;
  --sidebar-ring: #6b26d9;
  --font-sans: "Geist Sans", "Inter", sans-serif;
  --font-serif: "Geist Mono", monospace;
  --font-mono: "Geist Mono", monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 20px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.4;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --shadow-2xs: 0px 8px 20px 2px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 8px 20px 2px hsl(0 0% 0% / 0.2);
  --shadow-sm:
    0px 8px 20px 2px hsl(0 0% 0% / 0.4), 0px 1px 2px 1px hsl(0 0% 0% / 0.4);
  --shadow:
    0px 8px 20px 2px hsl(0 0% 0% / 0.4), 0px 1px 2px 1px hsl(0 0% 0% / 0.4);
  --shadow-md:
    0px 8px 20px 2px hsl(0 0% 0% / 0.4), 0px 2px 4px 1px hsl(0 0% 0% / 0.4);
  --shadow-lg:
    0px 8px 20px 2px hsl(0 0% 0% / 0.4), 0px 4px 6px 1px hsl(0 0% 0% / 0.4);
  --shadow-xl:
    0px 8px 20px 2px hsl(0 0% 0% / 0.4), 0px 8px 10px 1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 8px 20px 2px hsl(0 0% 0% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
